/* Define the font family */
body {
  font-family: var(--font-family);
}

.status-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.status-content h2{
  color:white;
}
.status-content {
  width: 80%;
  margin-top: 20px;
  overflow-x: auto; /* Add overflow for horizontal scrolling */
}

.status-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.magazine-table {
  color: black;
  background-color: white; /* Set background color to white */
  width: 100%; /* Make the table take up full width of the container */
  max-width: 100%; /* Make sure the table doesn't overflow the container */
  border-collapse: collapse;
  border-spacing: 0;
}

.magazine-table th,
.magazine-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.magazine-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.magazine-table td img {
  max-width: 100px;
}

.magazine-table td a {
  color: #007bff;
  text-decoration: none;
}

.magazine-table td a:hover {
  text-decoration: underline;
}

.magazine-table th, 
.magazine-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center; /* Align text in the middle */
}

.magazine-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.edit-button, 
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em; /* Increase icon size */
}

.edit-button:hover, 
.delete-button:hover {
  color: #007bff;
}

.document-link svg {
  font-size: 24px; /* Adjust the size of the document icon */
}

.magazine-table td button {
  color: #007bff;
  text-decoration: none;
}