/* error404.css */

.error404-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar); /* Assuming --gradient-bar is defined elsewhere */
  font-family: 'Arial', sans-serif; /* Change the font family */
  color: #fff;
}

.error404-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error404-content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.error404-content h3 {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
}

.error404-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.error404-btn button {
  background: #000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .error404-container {
      flex-direction: column;
      margin: 2rem 0;
  }

  .error404-btn {
      margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .error404-container {
      margin: 4rem 2rem;
  }

  .error404-content h3 {
      font-size: 20px;
      line-height: 32px;
  }

  .error404-btn button {
      font-size: 16px;
      line-height: 28px;
  }
}
